#mfi_images {
    display: block;
}
.mfi_image_item {
    display: block;
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #eee;
    width: 23%;
    margin: 10px 1%;
    height: 200px;
}
.mfi-image-gallery {
    margin: auto;
}
.mfi-image-gallery-item {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 5px;
}
@media screen and ( max-width:992px ) {
    .mfi_image_item.grid {
        width: 48%;
    }
    .mfi_image_item {
        width: 48% !important;
    }
    .form-group.smartcat-multiple-uploader {
        width: 48% !important;
    }
}
@media screen and ( max-width:767px ) {
    .mfi_image_item {
        width: 48%;
    }
    .form-group.smartcat-multiple-uploader {
        width: 48%;
    }
    .mfi_image_item.grid {
        width: 98% !important;
    }
}
